
<div class="register-container">
    <h2>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div>
        <label for="email">Email:</label>
        <input id="email" formControlName="email" placeholder="Email" />
        <!-- Display validation messages for email -->
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
          <small *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</small>
          <small *ngIf="registerForm.get('email')?.errors?.['email']">Please enter a valid email.</small>
        </div>
      </div>
  
      <div>
        <label for="password">Password:</label>
        <input id="password" formControlName="password" type="password" placeholder="Password" />
        <!-- Display validation messages for password -->
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
          <small *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</small>
          <small *ngIf="registerForm.get('password')?.errors?.['minlength']">Password must be at least 3 characters.</small>
        </div>
      </div>
  
      <button type="submit" [disabled]="registerForm.invalid">Register</button>
    </form>
    <p>Already have an account? <a [routerLink]="['/login']">Login</a></p>
  </div>